Repository BpsEason/aisensebot-enterprise, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-organization/core-team, @backend-team, @frontend-team, @docs-team

Create .gitignore
  nlu/models/.gitignore
Owners: @your-organization/core-team

Create .dockerignore
  .dockerignore
Owners: @your-organization/core-team

Create .env.example
  .env.example
Owners: @your-organization/core-team

Create .gitignore
  .gitignore
Owners: @your-organization/core-team

Create .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @your-organization/core-team

Create config.yml
  nlu/config.yml
Owners: @your-organization/core-team

Update config.yml
  nlu/config.yml
Owners: @your-organization/core-team

Create domain.yml
  nlu/domain.yml
Owners: @your-organization/core-team

Create nlu.yml
  nlu/data/nlu.yml
Owners: @your-organization/core-team

Create default_template.txt
  response-engine/prompt_templates/default_template.txt
Owners: @your-organization/core-team

Create test_engine.py
  response-engine/tests/test_engine.py
Owners: @your-organization/core-team

Delete frontend directory
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/src/assets/logo.svg
Owners: @frontend-team

Add files via upload
  frontend/Dockerfile
  frontend/index.html
  frontend/nginx.conf
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/logo.svg
  frontend/src/components/ChatWindow.vue
  frontend/src/components/MessageInput.vue
  frontend/src/components/MessageList.vue
  frontend/src/main.js
  frontend/src/store/chat.js
  frontend/src/style.css
  frontend/vite.config.js
Owners: @frontend-team

Add files via upload
  backend/app/database/__init__.py
  backend/app/database/db.py
Owners: @backend-team

Create bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @your-organization/core-team

Delete frontend/index.html
  frontend/index.html
Owners: @frontend-team

Add files via upload
  frontend/public/index.html
Owners: @frontend-team

Add files via upload
  frontend/src/views/HomeView.vue
Owners: @frontend-team

Add files via upload
  frontend/tests/HelloWorld.spec.js
Owners: @frontend-team

Delete frontend directory
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/logo.svg
  frontend/src/components/ChatWindow.vue
  frontend/src/components/MessageInput.vue
  frontend/src/components/MessageList.vue
  frontend/src/main.js
  frontend/src/store/chat.js
  frontend/src/style.css
  frontend/src/views/HomeView.vue
  frontend/tests/HelloWorld.spec.js
  frontend/vite.config.js
Owners: @frontend-team

Add files via upload
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/logo.svg
  frontend/src/components/ChatWindow.vue
  frontend/src/components/MessageInput.vue
  frontend/src/components/MessageList.vue
  frontend/src/main.js
  frontend/src/router.js
  frontend/src/store/chat.js
  frontend/src/style.css
  frontend/src/views/HomeView.vue
  frontend/tests/HelloWorld.spec.js
  frontend/vite.config.js
Owners: @frontend-team

Add files via upload
  response-engine/Dockerfile
Owners: @your-organization/core-team

Update README.md
  README.md
Owners: @your-organization/core-team

Update README.md
  README.md
Owners: @your-organization/core-team

.github/CODEOWNERS:

# This file specifies the code owners for different parts of the repository.
# A pull request will need review from a code owner before it can be merged.

# Core team owners
* @your-organization/core-team

# Backend team owners
/backend/       @backend-team

# Frontend team owners
/frontend/      @frontend-team

# Documentation owners
/docs/          @docs-team
